.App{
    text-align: center;
    display: grid;
    padding: 1%;
    grid-template-columns: 20% 48% 30%;
    grid-gap: 1%;
}

.App > div{
    background: #eee;
}

.App > div:nth-child(odd){
    background: #ddd;
} /* every other grid section */

.App-header {
    border-style: dashed;
    color: #33dcff;
    height: 97.5%;
}

.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 200px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    margin: 1%;
    font-size: large;
    text-align: left;
}